
.savePlaylist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 2.3em 0;
    position: relative;
    left: 30%;
}

.savePlaylist input{
    height: 2rem;
    max-width: 11rem;
}